<<<<<<< HEAD
@{ ViewData["Title"]="Index"; }

<a href="/Admin/Admission/AddStudent">AddStudent</a>


=======
@{
     ViewData["Title"]="Index";
}

<a href="/Admin/Admission/AddStudent">AddStudent</a>
>>>>>>> 8659823ff32e4274a6e03abdac2a58eee59106d2
